<div class="comment" style="margin-left: {{ level|default:0 }}px;">
    <strong>{{ comment.user.firstname }} {{ comment.user.lastname }}:</strong> {{ comment.text }}<br>
    <small>{{ comment.created_at|date:"d M Y" }} | {{ comment.created_at|timesince }}</small>

    <!-- Reply button triggers showing reply form (optional, can be a link that shows form) -->
    <a href="#" class="reply-link" data-comment-id="{{ comment.id }}">Reply</a>

    <!-- Replies -->
    {% for reply in comment.replies.all %}
        {% include "comment_single.html" with comment=reply level=level|add:"20" %}
    {% endfor %}
</div>