{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Login | MyFacebook{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Log In to MyFacebook</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    <div class="mt-2">
        <a href="{% url 'password_reset' %}">
           <button type="button" style="margin-bottom: 10px;">Forgot Password?</button>
        </a>
    </div>
    
    <div style="margin-top: 6px;">
        <form action="{% provider_login_url 'github' method='oauth2' %}" method="get">
            <button type="submit" class="btn btn-dark" style="margin-bottom: 10px;">Login with GitHub</button>
        </form>

        <form action="{% provider_login_url 'google' %}" method="get">
            <button type="submit" class="btn btn-danger" style="margin-bottom: 10px;">Login with Google</button>
        </form>

        <form action="{% provider_login_url 'facebook' method='oauth2' %}" method="get">
            <button type="submit" class="btn btn-primary">Login with Facebook</button>
        </form>
    </div>

      
    <div class="mt-2">
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </div>

</div>
{% endblock %}

