{% extends 'base.html' %}

{% block title %}Login | MyFacebook{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Log In to MyFacebook</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    <div class="mt-2">
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
    </div>
    <div class="mt-2">
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </div>

    <!-- Modal Trigger -->
    <button type="button" class="btn btn-info mt-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Modal Popup
    </button>
</div>

<!-- Modal Code -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
       
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              Congratulation for Signup 
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save Changes</button>
            </div>

        </div>
    </div>
</div>
{% endblock %}
