<style>
.comment-section  {
            padding: 10px 15px;
            border-top: 1px solid #eee;
            background: #fafafa;
        }
</style>

<div class="comment-section">
                <h4>Comments:</h4>
                
                {% for Comment in post.comments.all|dictsortreversed:'created_at'%} 

                    <div class="comment">
                
                        <strong>{{ Comment.user.firstname }} {{ Comment.user.lastname }}:</strong> {{ Comment.text }}<br>
                        <small>{{ Comment.created_at|date:"d M Y" }} | {{ Comment.created_at|timesince }}</small>
                        
                    </div>
                {% endfor %}

</div>
<a href="{% url 'home' %}"><button class="btn btn-primary"> Back To Home </button></a>

