<style>
    #users-list {
        max-width: 600px;
        margin: 40px auto;
        padding: 20px;
        background: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    }

    .user-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
    }

    .user-name {
        font-weight: bold;
    }

    .btn-sm {
        padding: 4px 8px;
        font-size: 14px;
    }
</style>

{% load custom_filter %}

{% if target_user == user %}
    <div id="users-list">
        <h4>All Registered Users</h4>

        {% for u in users %}
        <div class="user-item">
            <div class="user-name">{{ u.firstname }} {{ u.lastname }}</div>
            <div>
                {% if u.id in sent_request_ids %}
                    <button class="btn btn-secondary btn-sm" style="color:whitesmoke; background-color:blue;" disabled>Request Sent</button>
                {% elif u.id in received_request_dict %}
                    <a href="{% url 'accept_friend_request' received_request_dict|get_item:u.id %}" class="btn btn-success btn-sm"><button style="color:white; backgroud-color: blue;">Accept </button> </a>
                {% else %}
                    <a href="{% url 'send_friend_request' u.id %}" class="btn btn-outline-primary btn-sm"><button style="color:white; background-color: blue;"> Send Request </button> </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

       <a href="{% url 'home' %}"><button style="color:whitesmoke; background-color: blue; margin-right: 10px gap: 20px; ">Back to Home</button></a><br></br>
    </div>
{% endif %}