
{% extends 'base.html' %}
{% load socialaccount %}

{% block content %}
<div class="container">
    <h2>Create a new account</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.firstname.label_tag }} {{ form.firstname }}
        {{ form.lastname.label_tag }} {{ form.lastname }}
        {{ form.Date_of_birth.label_tag }} {{ form.Date_of_birth }}
        {{ form.gender.label_tag }} {{ form.gender }}
        {{ form.email.label_tag }} {{ form.email }}
        {{ form.phone_number.label_tag }} {{ form.phone_number }}

        {{ form.password.label_tag }} {{ form.password }}
        <small>(you can write only 8 characters)</small> 
            
        <button type="submit">Sign Up</button>
    </form>

    

   
    <div class="link">
        <p>Already have an account? <a href="{% url 'login' %}">Log In</a></p>
    </div>
</div>
{% endblock %}



